<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ELA Unit Overview 2026</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1>ELA & Reading Unit Overview 2026</h1>

  <table class="unit-overview">
    <thead>
      <tr class="month">
        <th></th>
        <% @months.keys.each do |month| %>
          <th scope="col"><%= month %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% # Unit Title %>
      <tr class="unit-title">
        <th scope="row">Unit Title</th>
        <% @months.each do |_, data| %>
          <td><%= data[:title] %></td>
        <% end %>
      </tr>

      <% # Grade Level %>
      <tr class="grade-level">
        <th scope="row">Grade Level</th>
        <% @months.each do |_, data| %>
          <td><%= data[:grade] %></td>
        <% end %>
      </tr>

      <% # Subject %>
      <tr class="subject">
        <th scope="row">Subject</th>
        <% @months.each do |_, data| %>
          <td><%= data[:subject] %></td>
        <% end %>
      </tr>

      <% # Learning Objective %>
      <tr class="objective">
        <th scope="row">Learning Objective</th>
        <% @months.each do |_, data| %>
          <td><%= data[:objective] %></td>
        <% end %>
      </tr>

      <% # State Standards %>
      <tr class="standards">
        <th scope="row">State Standards</th>
        <% @months.each do |_, data| %>
          <td>
            <ul>
              <% data[:standards].each do |standard| %>
                <li><%= standard %></li>
              <% end %>
            </ul>
          </td>
        <% end %>
      </tr>

      <% # Materials %>
      <tr class="materials">
        <th scope="row">Materials</th>
        <% @months.each do |_, data| %>
          <td>
            <ul>
              <% data[:materials].each do |material| %>
                <li><%= material %></li>
              <% end %>
            </ul>
          </td>
        <% end %>
      </tr>

      <% # Vocabulary / Key Terms %>
      <tr class="vocabulary">
        <th scope="row">Vocabulary / Key Terms</th>
        <% @months.each do |_, data| %>
          <td>
            <ul>
              <% data[:vocabulary].each do |word| %>
                <li><%= word %></li>
              <% end %>
            </ul>
          </td>
        <% end %>
      </tr>

      <% # Prior Knowledge %>
      <tr class="prior-knowledge">
        <th scope="row">Prior Knowledge</th>
        <% @months.each do |_, data| %>
          <td><%= data[:prior_knowledge] %></td>
        <% end %>
      </tr>

      <% # Final Project %>
      <tr class="final-project">
        <th scope="row">Final Project</th>
        <% @months.each do |_, data| %>
          <td><%= data[:project] %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</body>
</html>